<app-add-task (onAddEmit)="addTask($event)"></app-add-task>
<app-task-item *ngFor="let task of tasks" [task]="task" (onDeleteEmit)="deleteTask(task)" (onToggleEmit)="toggleReminder(task)"></app-task-item>