<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task">
    </div>
    <div class="form-control">
        <label for="tdayext">Day &amp; Time</label>
        <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add day & Time">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder?</label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder">
    </div>
    <input type="submit" value="Save Task" class="btn btn-block">
</form>